<div class="max-w-2xl m-auto px-4">
  <h1 class="text-3xl mt-10">Schedule a new session</h1>
  <p class="text-lg text-gray-900 mb-6">Schedule a new consulting session by choosing the best time that works for you below.</p>
  <%= render 'form', meeting: @meeting %>
</div>